<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<lastschrift>
				<active>1</active>
				<model>Printq\Lastschrift\Model\Payment\Lastschrift</model>
				<order_status>pending</order_status>
				<title>Lastschrift</title>
				<allowspecific>0</allowspecific>
			</lastschrift>
		</payment>
	</default>
</config>
