<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="printq_storelocationsmanagement" id="printq_storelocationsmanagement">
			<module before="Magento_Backend" name="Printq_StoreLocationsManagement"/>
		</route>
	</router>
</config>
